
nav {
  display: grid;
  grid-template-columns: (4, 1fr);
  background-color: #3d1520;
  padding-left: 30px;
  padding-right: 30px;
  color: #fed389;
}

#nav-box-1 {
  grid-column: span 5;
  text-align: right;

}

#nav-box-2 {
  grid-column:
}

#nav-box-3 {
  grid-column:
}

#nav-box-4 {
  grid-column:
}

#nav-box-5 {
  grid-column: span 2;
  text-align: right;
}

main {
  background-color: #fed389;
  color: #0a090c;

}


section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 100px;
  width: 90%;


}

a {
  color: #0a090c
}

h1 {
  padding-top: 30px;
  padding-left: 30px;
  color: #0a090c
}

.card {
  background-color: #ca8150;
  overflow-wrap: break-word;
  position: relative;
}

.card-image {
  max-width: 100%;
  opacity: .70

}

.card-icon {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 4.5em;
  height: 4.5em;
}

.card-followers {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #3d1520

}

.card-content {
  padding-left: 10px;
  padding-right: 10px;

}

.card-link-box {
  display: block;
  background-color: #8d5535;
  padding: 10px;

}

@media (max-width: 1450px) {
section {
  grid-template-columns: repeat(2, 1fr)
}
}

@media (max-width: 750px) {
section {
  grid-template-columns: repeat(1, 1fr)
}
}
