main {
  background-color: #fed389
}

section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 13px;
  margin-left: 30px;
  margin-right: 30px;
}

.card {
  background-color: #ca8150;
  max-width: 200px;
}

.card img {
  max-width: 100%;
}

.card-content {
  padding: 10px;
}
/* }l\object fit for contain */
@media (max-width: 100px){
.section {
grid-template-columns: 1fr
}
