main {
  background-color: #fed389
}

section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  margin-left: 30px;
  margin-right: 0px;
  padding-top: 20px;
  padding-bottom: 100px;
}

h1 {
  padding-top: 30px;
  padding-left: 30px;
}

.card {
  background-color: #ca8150;
  max-width: 250px;
  overflow-wrap: break-word;
}

.card img {
  max-width: 100%;
}

.card-content {
  padding-left: 10px;
  padding-right: 10px;

}

@media (max-width: 500px){
.section {
  grid-template-rows: 1fr
  }
}
